.controls
{
	margin-top: 40px

}

html, body
{
	margin : 0;
	height : 100%;

}

#wrap, #myChart
{
	height : 1300px;

}

#wrap
{
	width  : 10000px;
	/*border : 2px solid coral;*/

}

#myChart
{
	width  : 100%;
	border : 1px solid darkgray;
}
